# Node
node_modules/
npm-debug.log
yarn-error.log

# Angular build
dist/
tmp/
out-tsc/

# IDEs y editores
.vscode/
.idea/
*.swp

# Sistema
.DS_Store
Thumbs.db

# Testing
coverage/

# Environment
.env
