<footer class="footer-container">
  <div class="footer-content">
    <span class="footer-text">
      © 2023 <a href="https://flowbite.com/" class="footer-link">Flowbite™</a>. Todos los derechos reservados.
    </span>
    <ul class="footer-links">
      <li><a href="#" class="footer-link">About</a></li>
      <li><a href="#" class="footer-link">Derechos reservados Bayron</a></li>
      <li><a href="#" class="footer-link">Licensing</a></li>
      <li><a href="#" class="footer-link">Contact</a></li>
    </ul>
  </div>
</footer>
