<div class="contenedor-documentos">
  <br>
  <br>
  <div class="panel-principal">

    <div class="tabs">

      <button type="button" class="tab-btn" [class.activa]="ventanaActiva === 'Activar'"
        (click)="cambiarVentana('Activar')">
        <span class="tab-dot"></span>
        Activar Formularios
      </button>

      <button type="button" class="tab-btn" [class.activa]="ventanaActiva === 'ingreso-carreras'"
        (click)="cambiarVentana('ingreso-carreras')">
        <span class="tab-dot"></span>
        Ingreso de carrera
      </button>

      <button type="button" class="tab-btn" [class.activa]="ventanaActiva === 'plan-individual'"
        (click)="cambiarVentana('plan-individual')">
        <span class="tab-dot"></span>
        Plan individual docente
      </button>

      <button type="button" class="tab-btn" [class.activa]="ventanaActiva === 'seguimiento'"
        (click)="cambiarVentana('seguimiento')">
        <span class="tab-dot"></span>
        Seguimiento docente

      </button>
      <button type="button" class="tab-btn" [class.activa]="ventanaActiva === 'historial'"
        (click)="cambiarVentana('historial')">
        <span class="tab-dot"></span>
        Historial de documentos
      </button>

      <button type="button" class="tab-btn" [class.activa]="ventanaActiva === 'Dashboard'"
        (click)="cambiarVentana('Dashboard')">
        <span class="tab-dot"></span>
        Estadísticas De Documentos
      </button>


    </div>

    <div class="panel-contenido">

      <ng-container *ngIf="ventanaActiva === 'ingreso-carreras'">
        <app-ingreso-carreras></app-ingreso-carreras>
      </ng-container>
      <ng-container *ngIf="ventanaActiva === 'plan-individual'">
        <app-plan-individual></app-plan-individual>
      </ng-container>

      <ng-container *ngIf="ventanaActiva === 'seguimiento'">
        <app-seguimiento></app-seguimiento>
      </ng-container>

      <ng-container *ngIf="ventanaActiva === 'historial'">
        <app-historial></app-historial>
      </ng-container>

      <ng-container *ngIf="ventanaActiva === 'Dashboard'">
        <app-dasboard></app-dasboard>
      </ng-container>

      <ng-container *ngIf="ventanaActiva === 'Activar'">
        <app-activar-formularios></app-activar-formularios>
      </ng-container>

    </div>

  </div>
</div>